fastapi==0.115.12
uvicorn==0.34.3
python-multipart==0.0.20

numpy==1.23.5
opencv-python==4.11.0.86
pillow==11.2.1

tensorflow==2.12.0
keras==2.12.0
protobuf==3.20.3

deepface==0.0.79
ultralytics==8.3.187

torch==2.7.1
torchvision==0.22.1

pydantic==2.11.7
scipy==1.13.1
h5py==3.14.0